*.iml
.gradle
.gradle/
/gradlew
/gradlew.bat
/local.properties
.idea/
.DS_Store
/build
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
local.properties
*.log
*.jks
*.keystore
google-services.json
*.hprof